/* 
 * Buttons
 * 
 * @package sasskit
 */


.buttons-group {

  background-color: none;
  color: #fff;
  padding-bottom: 20px;

  ul {
   margin: 0 0 0 50px;
   padding: 0;   
  }

  li {
    
  }

  a,
  a:visited {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color_link_hover;
    }
  }
}

h4 {
  color: #fff;
  background-image: url('../img/arrow_gray.png');
  background-repeat: no-repeat;
  background-position: 0 0 ;

}