/* 
 * Links
 * 
 * @package sasskit
 */



a {
	color: inherit;
  text-decoration: none;

  @include transition(all, 0.2s);
}
a:hover,
a:focus,
a:active {
	color: $color_link_hover;
}

p a {
  color: #000;
  border-bottom: 1px dotted $color_link_hover;
}

.site-footer p a {
  color: #fff;
}