/* 
 * Sprite
 * 
 * @package sasskit
 */

$x: -72px;
$y: -60px;
$y-logo: 96px;
$arrow_height: 50px;
$logo_border: 91px;

%sprite {
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-color: none;
}

%sprite-logo {
  @extend %sprite;
  width: 91px;
  height: 91px;
}

.sprite-boxed {
  width: 36px;
  height: $arrow_height;
}

.arrow-gray-left {
  @extend %sprite;
  background-position: 0 0;
}

.arrow-gray-right {
  @extend %sprite;
  background-position: $x 0;
}

.arrow-black-left {
  @extend %sprite;
  background-position: 0 $y;
}

.arrow-black-right {
  @extend %sprite;
  background-position: $x $y;
}

.arrow-thin-left {
  @extend %sprite;
  background-position: 0 ( $y * 2 );
}

.arrow-thin-right {
  @extend %sprite;
  background-position: $x ( $y * 2 );
}

// Home
.site-logo {
  position: relative;
  @extend %sprite-logo;
  background-position: ($x * 2) 0;
  margin-top: -66px;
  z-index: 9999;
}



.ham-sprite {
  @extend %sprite;
  display: inline-block;
  background-position: 0 ( $y * 3 );
}

#trigger-out {
  @extend %sprite;
  background-position: $x ( $y * 3 );
}