



.calendar-filter {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  
  h4 {
    @extend %sprite;
    background-position: -38px 0px;
    margin-bottom: 0;
    margin-right: 11px;
    float: left;
    color: #fff;
  }

  & > li {
    display: inline-block;
    float: left;
  }

  ul {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0 0 0 22px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dotted #000;
  }
  .cat-item {
    font-family: $font_family_meta;
    font-weight: 700;
    float: left; 
    margin-right: 33px;
  }
}