/* 
 * templates/event
 * 
 * @package sasskit
 */

.entry-header--event {
  padding-top: 0;
  margin-bottom: 44px; 

  p { margin-top: 22px; }
}
  
  .entry-titles {
    
    @include up-to(large) {
      padding-left: 5px
    }
  }
  .event-title {
    margin-top: 22px;
    margin-bottom: 11px; }

  .event-authors {
    display: inline-block;
    clear: both;
    font-weight: 400; }

  .event-metas-group {
    margin-bottom: 22px;
    padding-right: 5px; }

    .event-metas {
      @extend .meta;

      margin-top: 22px;
      text-align: right;
      @include fontsize(14);

      ul {
        margin: 0;
        padding: 0; }
      li {
        margin: 0;
        padding: 0; }

      @include up-to(large) {
        padding-right: 5px
      }
    }

    .event-dates {
      @extend .meta;
      @include fontsize(14);
      color: #000; } 
    .passed_date { color: #999; }

    .event-ancres {
      @extend .meta;
      @include fontsize(14); }

      .event-distribution {
        color: $red;
      }