/* 
 * templates/event
 * 
 * @package sasskit
 */

.entry-metas-group {
  margin-bottom: 22px;
  padding-right: 5px;
}

  .event-dates {
    color: #000;
  } 
    .passed_date {
      color: #999;
    }