/* 
 * templates/home
 * 
 * @package sasskit
 */


  .site-branding-home {
    position: relative;
    height: 575px;
    
    @include up-to(large) {
      height: auto;
    }
  }
    .site-title-home {
      @extend .site-title;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      @include fontsize(45);
      line-height: 4rem;
      
      @include up-to(medium) {
        @include fontsize(25);
        line-height: 2.5rem;
        display: block;
        margin-top: 7px;
      }
    }
    .home-featured {
      height: 100%;
      overflow: hidden;
      color: #FFF;      
      img {
        width: 1200px;
        max-width: none;
        margin-left: -88px;

        @include at-least(wide) {
          margin-left: 0;
        }
        @include up-to(large) {
          margin-left: 0;
          max-width: 100%;
        }
      }
    }
      .featured-infos {
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 11px;
        color: #fff;
        max-width: 60%;
        min-width: 30%;
        
        &:hover {
          .featured-bg {
            background: rgba(0, 0, 0, 0.8);
          }
        }

        @include up-to(medium) {
          position: relative;
          bottom: 0;
          right: 0;
          max-width: none;
          min-width: none;
        }

      }
      .featured-bg {
        position: absolute;
        z-index: 3;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        @include transition(all 0.2s);
      }
      .featured-inner {
        position: relative;
        z-index: 5;
      }
      .featured-date,
      .featured-authors {
        text-transform: uppercase;
        @include fontsize(18);
        font-family: $font_family_meta;
      }
      .featured-title {
        margin-bottom: 11px;
      }

.home .site-content {
  background: none;
  margin-top: $base_line_height;
}


.home-header {

  @include up-to(medium){
    margin: 44px 0;
    float: left;
    width: 100%;
  }

  .menu-menu-principal-container {
    margin-top: 44px;
    
    @include up-to(medium){
      margin-top: 0;
    }
  }
}



