/* 
 * templates/home
 * 
 * @package sasskit
 */


.home .site-content {
  background: none;
  margin-top: $base_line_height;
}

.featured-title {
  position: absolute;
  bottom: 20px;
  right: 20px;

  color: #fff;
}