.entry-content-project {

  p:first-child {
    padding-right: 75px;
  }

}

.project-team {
  text-align: right;

  ul {
    margin: 0;
    padding: 0;
    font-family: $font_family_meta;
    @include fontsize(18);
    color: $red;
  }
  li {
    margin: 0;
    padding: 0;
  }
}

