.entry-content-project {

  p:first-child {
    padding-right: 75px;
  }

  @include up-to(large){
    padding: 5px;
  }
}

.project-team {
  text-align: right;
  margin-right: -20px;
  background: #FFF;
  padding: 10px 20px 10px 0;

  ul {
    margin: 0;
    padding: 0;
    font-family: $font_family_meta;
    @include fontsize(18);
    color: $red;
  }
  li {
    margin: 0;
    padding: 0; 
  }

  @include up-to(large){
    margin-right: 0;
  }

}

