/* 
 * templates/post
 * 
 * @package sasskit
 */

.entry-header {

  margin-bottom: 44px;

  & .entry-header-inner {
      @extend %l-8col;
      @extend %l-1col-push;
      @extend %l-first;
      float: none;
  }

  &.bg {
    background-color: $fun-color;
  }



}

.entry-content {

}