/* 
 * templates/post
 * 
 * @package sasskit
 */





.content-single {

  .entry-header{
    margin-bottom: 0;
  }
    .entry-title {
      margin-bottom: 22px;
    }
  
  .entry-content {
    margin-top: 44px;
  }
}



