/*
 * Styles for template prices
 */

.entry-content-plain-1 {
  @include clearfix();      
}

.price-item {
  margin-bottom: 44px;
  float: left;

  h6 {
    margin-top: 0;
    margin-bottom: 11px;
  }
}

  .price-item-main {

  }
  .price-item-aside {

    .bloc-buttons {
      margin-top: 22px;
    }
  }