html {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
}
body {
  color: #000;
  background-color: #E1E3E4;
  margin: auto;
  margin-top: 0;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif;
  min-width: 800px;
  max-width: 1024px;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
ul, li {
  margin: 0px;
  padding: 0px;
}





#Entete {
  width: 25%;
  float: left;
	background-image: url(http://www.forumsirius.fr/orion/21048/images/header2015-new.png);
	height: 300px;
	background-repeat: no-repeat;
	background-position: left top;
}

#Entete span {
  display: none;
}



#Menu {
  width: 25%;
  float: left;
  margin-top: 44px;
  clear: both;
}
#Menu a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
    margin: 0px;
  padding: 0px;
}
#Menu a:hover {
  color: #DF4274;
  text-decoration: none;
}

#Menu .mnSpec {
  clear: both;
  padding-top: 5px;
}
#Menu .mnAbandon {
  padding-bottom: 5px;
}
#Menu ul {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
}
#Menu  li {
  margin: 0 0 22px 0;
  padding: 0;
}


/* menu horizotal */
li.mnLien { 
  float: left;
}



#Dialogue {
  width: 75%;
  float: right;
  margin-top: -300px;
  background-color: #FFF;
  padding: 3.5em 2em 5.5em 2em;
  min-height: 500px;
}

#Dialogue td {

}
#Dialogue table.caListe {
  width: 90%;
}
#Dialogue table.caListe td {
  border-bottom-width: 3px;
  vertical-align: bottom;
}

td.spDate a{
  color: black;
  font-weight: normal;
}

td.paSupli a {
  color: black;
  font-weight: normal;
}

td.paPlaces {
  color: black;
}

div.paCoord a, div.paAutre a {
  color: black;
}

table.coCoord {
  margin-top: 20px;
}

#Dialogue .caTitre {
  width: 49%;
  color: #CC0000;
}
#Dialogue .caSean {
  width: 49%;
}
#Dialogue .caTitre a {
  color: #CC0000;
  font-size: 16px;
  margin-top: 10px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}
#Dialogue .caTitre a:hover {
  color: #CC0000;
  text-decoration: underline;
}
.diComm {
  display: none;
  height: 100px;
  color: #333333;
  margin-right: -40px;
  margin-left: -44px;
  margin-top: 25px;
}
#Dialogue td.caSean {
  color: #333333;
  text-align: right;
}
.defSeance {
	margin-bottom: 22px;
}
.defSpec .nomSpec {
  display: block;
  color: #000;
	font-size: 24px;
	font-weight: 100;
}
.defSeance .nomSpec {
  font-size: 24px;
  margin-top: 10px;
  display: block;
  text-transform: none;
  font-weight: 100;
}
.defSeance .dateSC {
  font-size: 15px;
  margin-top: 10px;
  display: block;
  font-weight: bold;
}
.defSeance  .nomActiv{
  color: #999999;
}
.scListe .scTarifs{
  color: #999999;
}
.scListe .scPlaceNum{
  color: #999999;
}

.okDetailSP {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 22px;
  display: block;
  text-transform: none;
  font-weight: 100;
}
.okTable {
  margin-bottom: 44px;
  font-size: 14px;
}

.okErreur,
.okRetour {
  display: inline-block;
  clear: both;
  margin-bottom: 22px;
}

.okErreur {
  color: #aa0000;
}

table.scAffPrix {
  width: 100%;
  margin-top: 10px;
  padding: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
table.scAffPrix td {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  vertical-align: middle;
  height: 40px;
}
table.scAffPrix td.scNbMax {
  color: #999999;
}
table.scAffPrix td.scNbPla{
  color: #333333;
  background-color: #E7E4D5;
  padding-left: 15px;
  font-size: 12px;
}
table.scAffPrix td.scPrix{
  background-color: #E7E4D5;
  padding-right: 15px;
  text-align: right;
  font-size: 12px;
}
div.paListe table {
  width: 100%;
  margin-top: 10px;
  padding: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
div.paListe table td{
  border-bottom-width: 3px;
  border-bottom-style: dotted;
  border-bottom-color: #CCCCCC;
  vertical-align: bottom;
  height: 40px;
}
div.paOkPaie div {
  margin-top: 10px;
}
.paSeance {
  background-color: #F6F6F6;
  padding-left: 15px;
  font-weight: bold;
  font-size: 14px;
}

.paTotal, .paPrixTot {
  font-weight: bold;
  font-size: 14px;

}
#Menu .mnPanier .mnVisuP {
  margin-right: 4px;
  color: #000;
  font-weight: normal;
  font-size: 1em;
}
.paAutre {
  float: left;
  width: 200px;
}
.paCoord {
  float: right;
  width: 280px;
}
.paCoord span{
  display: block;
}
.paCoImg {
  display: block;
}

.paEntete {
  font-size: 24px;
  margin-top: 10px;
  display: block;
  text-transform: none;
  font-weight: 100;
}
span.coCookie {
  display : none;
}

 
 span.okRetour a  {
  color: black;
}
  div.abForm a  {
  color: black;
}