/*
 * Typography
 *
 * @package sasskit
 */


html {
  font-size: 62.5%; /* sets the base font to 10px for easier math */
}

@mixin fontsize($size: "16") {
  font-size: #{$size}px;
  font-size: #{$size} / 10 rem;
}


/*
 * Essentials
 */
$font_size_base:                  16 !default;
$line_height_ratio:               1.375 !default;
$base_line_height_:               $font_size_base * $line_height_ratio !default;
$base_line_height:                #{$font_size_base * $line_height_ratio}px !default;

body {
  @include fontsize($font_size_base);  /* sets the default sizing to make sure nothing is actually 10px */
}




/* For responsive, adjust root font size only. And go. */

@media screen and (max-width: $medium_breakpoint) {
  html {
    font-size: 50%;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 75%;
  }
}



/*
 * TYPOGRAPHY VARIABLES SETTINGS
 */

// Font Families
$source:                            'Source Sans Pro';
$roboto:                            'Roboto Slab';

// Default Fonts
$font_family_sans:                  Arial, Helvetica, sans-serif !default;
$font_family_serif:                 Georgia, Times New Roman, serif !default;
$font_family_mono:                  Menlo, Consolas, monospace !default;

// Typo Attributions
$font_family_paragraph:             $source, $font_family_sans;
$font_family_title:                 $source, $font_family_sans;
$font_family_nav:                   $source, $font_family_sans;
$font_family_alt:                   $source, $font_family_sans;
$font_family_quote:                 $roboto, $font_family_serif;
$font_family_meta:                  $roboto, $font_family_serif;

// Set of Font sizes
$font_size_large:                   $font_size_base * 1.25 !default;
$font_size_small:                   $font_size_base * 0.85 !default;
$font_size_mini:                    $font_size_base * 0.75 !default;




// BASICS
p {
  @include fontsize(16);
  font-family: $font_family_paragraph;
  line-height: $base_line_height;
  margin: 0 0 $base_line_height 0;
}

blockquote {
  margin: 0 $base_line_height;
  @include fontsize(20);
  font-family: $font_family_quote;
  line-height: $base_line_height;
}

ul {
  @include fontsize(16);
  font-family: $font_family_title;
  line-height: $base_line_height;
}

h1 {
  font-family: $font_family_title;
  @include fontsize(73);
  line-height: 6rem;
  font-weight: 100;
  margin: 0;
}

h2 {
  font-family: $font_family_meta;
  @include fontsize(20);
  line-height: $base_line_height;
  margin: 0 0 11px 0;
}

h3 {
  font-family: $font_family_title;
  @include fontsize(26);
  line-height: $base_line_height;
  margin: 0 0 11px 0;
}

h4 {
  font-family: $font_family_meta;
  @include fontsize(16);
  line-height: 50px;
  height: 50px;
  margin: 0;
  text-transform: uppercase;
}

h5 {
  font-family: $font_family_meta;
  @include fontsize(16);
  line-height: $base_line_height;
}

h6 {
  font-family: $font_family_title;
  @include fontsize(16);
  line-height: $base_line_height;
}




/*
 * OTHER SETTINGS THAT NEED TO BE CHECKED
 */

body,
button,
input,
select,
textarea {
  color: $color_text;
  font-family: $font_family_paragraph;
  line-height: $base_line_height;
}
p {

}
b, strong {
  font-weight: bold;
}
dfn, cite, em, i {
  font-style: italic;
}
address {
  margin: 0 0 $base_line_height;
}
pre {
  background: #eee;
  font-family: $font_family_mono;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
code, kbd, tt, var {
  font: 15px $font_family_mono;
}
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}


/*
 * CLASSES & SPECIALS
 */

%title-underline {
  display: table;
  width: 100%;  
  margin-bottom: 22px;
  
  h2 {
    display: table-cell;
    color: inherit;
    text-align: center;
    width: 30%;
  } 
}
  .line-dotted {
    display: table-cell;
    border-bottom: 2px dotted;
    width: 70%;
  }
.title-underline-gray {
  @extend %title-underline;
  color: $gray;

  .line-dotted {
    border-color: $gray;
  }
}
.title-underline-red {
  @extend %title-underline;
  color: $color_1;

  .line-dotted {
    border-color: $color_1;
  }
}

.meta {
  font-family: $font_family_meta;
  color: $meta-color;
}

.main-navigation {
  font-family: $font_family_nav;
  text-transform: uppercase;
  font-weight: 700;
}





/*
 * DON'T TOUCH THAT !
 */
$typos_map: () !default; // NOT USED
@each $typo in $typos_map {
  $i: index($typos_map, $typo);

  $_type: nth($typo, 1);
  $_values: nth($typo, 2);

  #{$_type} {
    font-family: #{map-get($_values, font-family)};
    font-size: #{map-get($_values, font-size)};
    @if map-get($_values, line-height) {
      line-height: #{map-get($_values, line-height)};
    }
    @if map-get($_values, color) {
      color: #{map-get($_values, color)};
    }
    @if map-get($_values, height) {
      height: #{map-get($_values, height)};
    }
    @if map-get($_values, margin) {
      margin: #{map-get($_values, margin)};
    }
    @if map-get($_values, padding) {
      padding: #{map-get($_values, padding)};
    }
    @if map-get($_values, text-transform) {
      text-transform: #{map-get($_values, text-transform)};
    }
    @if map-get($_values, font-weight) {
      font-weight: #{map-get($_values, font-weight)};
    }
        
    & > .use:before {
      content: '#{map-get($_values, use)}';
    }

    & + .info:before {
      content: '#{map-get($_values, font-family)} / #{map-get($_values, font-size)} / #{map-get($_values, line-height)}';
    }
  }
}