/* 
 * Blocs
 * 
 * @package sasskit
 */



.bloc-outer {
  @include box-sizing();
  float: left;
  margin-bottom: $base_line_height;
  padding: 1%;

  // COLS FOR BLOCS
  &.l-8col{

    .bloc-img,
    .bloc-content {
      width: 49%;
      float: left;
    }

    .bloc-content {
      margin-left: 2%;
    }

    a {
      display: block;
      float: left;
    }
  }
  &.l-4col {
  } 
 
  &:hover {
  }

  .meta {
    font-weight: 900;
  }

  p,
  ul {
    @include fontsize(15);
  }
}



.item-event {

  .meta {
    @include fontsize(15);
    line-height: 16px;
    margin-bottom: 5px;
  }
  h3 {
    @include fontsize(26);
  }
  .meta-author {
    display: inline-block;
    clear: both;
    color: $gray_darker;
  }
}




// SALVATTORE GRID
// http://salvattore.com/

#grid[data-columns]::before {
  content: '3 .column.size-1of3';
  display: none;
}

/* These are the classes that are going to be applied: */
.column { float: left; }

.size-1of3 {
  @extend .l-4col;
}

.grid-item {
  float: none;
  @include transition(all 0.2s);
}
