/* 
 * Blocs
 * 
 * @package sasskit
 */

.bloc-outer {
  float: left;
  margin-bottom: $base_line_height;
  background-color: #fff;
  padding: 1%;

  &.no-bg {
    background-color: none;
  }
  &.practical {
    background-color: $practical-color;
    color: #fff;
  }
  &.fun {
    background-color: $fun-color;
  }
  &.white {
    background-color: #fff;
  }   
}

.related-post {
  @extend %l-4col;

  &:first-child {
    @extend %l-8col;
  }
  &:nth-child(3){
    @extend %l-first;
  }

  &:hover {
  }
}