/* 
 * Blocs
 * 
 * @package sasskit
 */



.bloc-outer {
  @include box-sizing();
  float: left;
  margin-bottom: $base_line_height;
  @include border-radius(5px);
  overflow: hidden;

  // http://www.cssmatic.com/box-shadow
  -webkit-box-shadow: 4px 4px 18px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 18px -8px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 18px -8px rgba(0,0,0,0.75);


  // COLS FOR BLOCS
  &.m-8col{

    .bloc-img,
    .bloc-content {
      width: 49%;
      float: left;
    }

    .bloc-content {
      margin-left: 2%;
    }

    a {
      display: block;
      float: left;
      max-width: 100%;
    }
  }
  .meta {
    font-weight: 900;
  }

  p {
    display: inline;
    @include fontsize(15);
    margin-bottom: 0;
  }
  ul {
    @include fontsize(15);
    margin-bottom: 0;
  }
}

  .bloc-img {
    @include box-sizing();

    @include up-to(medium) {
      width: 45%;
      float: left;
    }
  }
  .bloc-content {
    @include box-sizing();
    padding: 5px 5px 11px 5px;
    
    @include up-to(medium) {
      width: 53%;
      float: right;
    }
  }


  .entry-datas {
    @include fontsize(14);
    line-height: 16px; 
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  .entry-authors {
    margin-bottom: 11px;
  }
    .meta-author {
      display: inline-block;
      clear: both;
      color: $gray_darker;
      @include fontsize(14);
      text-transform: uppercase;
    }

  .entry-intro {
    @include fontsize(15);
  }

  .more-link {
    font-family: $font_family_meta;
    display: inline;
    color: $gray_light;
    @include fontsize(13);

    &:before {
      content: ' ● ';
    }

  }

// SALVATTORE GRID
// http://salvattore.com/

#grid[data-columns]::before {
  @include at-least(large){
    content: '3 .column.size-1of3';
    display: none;
  }
  @include up-to(large) {
    content: '2 .column.size-1of2';
    display: none;
  }
}

/* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of3 { @extend .l-4col; }
.size-1of2 { @extend .m-6col; }
.grid-item { float: none; @include transition(all 0.2s); }
