/* 
 * Medias
 * 
 * @package sasskit
 */

img {
  max-width: 100%;
  height: auto;
}

.event-slider {
  opacity: 0;
  position: relative;

  .bxslider-video {
    height: 100%;
  }
  li {
    height: 100%;
  }
} 
  .event-slider-inner {
    height: 500px;
    overflow: hidden;
  }
  .bx-controls {
    position: absolute;
    height: 50px;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
  }
    .bx-pager {
      display: none;
    }
    .bx-controls-direction {
      a {
        position: absolute;
        display: inline-block;
      }
    }
      .bx-prev {
        @extend .arrow-thin-left;
        left: -30px;
      }
      .bx-next {
        @extend .arrow-thin-right;
        right: -30px;
      }