/* 
 * Medias
 * 
 * @package sasskit
 */

img {
  max-width: 100%;
  height: auto;
}

.event-slider {
  opacity: 0;
  position: relative;

  .bxslider-video {
    // height: 100%;
  }
  li {
    width: 10000px;
    height: 100%;
    background-color: #000;

    img {
      max-height: 100%;
      width: auto;
      margin: 0 auto;
      float: none;
    }
  }
} 
  .event-slider-inner {
    overflow: hidden;
  }
  .bx-wrapper {
  }
  .bx-controls {
    position: absolute;
    height: 50px;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
  }
    .bx-pager {
      display: none;
    }
    .bx-controls-direction {
      a {
        position: absolute;
        display: inline-block;
      }
    }
      .bx-prev {
        @extend .arrow-thin-left;
        left: -30px;
        
        @include up-to(large) {
          left: 0;
        }
      }
      .bx-next {
        @extend .arrow-thin-right;
        right: -30px;
        
        @include up-to(large) {
          right: 0;
        }
      }