/* 
 * Footer
 * 
 * @package sasskit
 */

.site-footer {
  color: #fff;
  margin-top: 0;
}


  .footer-contacts {
    background-color: $blue_dark;
    margin: 0;
    padding: 20px 0;
    @include fontsize(16);

    aside {
      @extend %l-3col;
    }

    h6 {
      color: blue;
    }

    a {
      color: inherit;

    }

  }

  .footer-infos { 
    background-color: $blue_darker;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 100px;

    h6,
    p {
      @include fontsize(14);
      margin-bottom: 5px;
      margin-top: 0;
    }

    aside {
      margin-bottom: 20px;
    }
  }
    .footer-infos-first {
      @extend %l-4col;
    }
    .footer-infos-second {
      @extend %l-7col;
      @extend %l-1col-push;
    }
    .footer-infos-third {
      @extend %l-3col;
      @extend %l-last;
    }
