/* 
 * Footer
 * 
 * @package sasskit
 */

.site-footer {
  color: #fff;
  margin-top: 0;
}


  .footer-contacts {
    margin: 0;
    padding: 20px 0;
    @include fontsize(16);
    @include gradient-vertical($blue_dark, $blue_darker);

    aside {

      &:last-child {
        @extend %m-last;
        @extend %m-5col;
      }
    }

    h6 {
      color: blue;
    }

    a {
      color: inherit;
    }
  }
    .footer-contacts-inner {
      @include box-sizing();

      @include up-to(medium) {
        padding: 0 10%;
      }
    }
    .widget_newsletter_submission {
        @extend %m-5col;
    }
    .widget:last-child {
      @include up-to(medium) {
        margin-bottom: 0;
      }
    }

  .footer-infos { 
    margin: 0;
    padding-top: 40px;
    padding-bottom: 100px;
    @include gradient-vertical($blue_dark, $blue_darker);

    h6,
    p {
      @include fontsize(14);
      margin-bottom: 5px;
      margin-top: 0;
    }

    aside {
      margin-bottom: 20px;
    }
  }
    .row .footer-infos-first {
      @include at-least(medium) {
        left: 0;
      }
    }
    .row .footer-infos-second {
    }
    .row .footer-infos-third {
    }
