/* 
 * Header
 * 
 * @package sasskit
 */


.site-header {
}

.site-title {
  width: 20px;
  font-weight: 100;
  color: #000;
  @include fontsize(35);
  line-height: 3rem;
  margin: 22px 0 44px 0;

  a {
    color: inherit;
    text-decoration: none;
  }
 
  &:after {
    display: block;
    background-image: url('../img/arrow_blue.png');
  }

  @include up-to(medium) {
    display: none;
  }
}
 

.entry-header {
  @include box-sizing;
  margin-bottom: 44px;
  padding-top: 44px;
  width: 100%;
  float: left;

  .entry-header-inner { float: none;   }
  &.bg { background-color: $fun-color; }
  img { float: left; }
  h5 { font-weight: 400; @include fontsize(20); }
  p { font-weight: 700; @include fontsize(18); color: #333; margin-top: 44px; }
}

  .entry-header-inner {

    @include up-to(large) {
      padding: 0 5px;
    }
  }

  .entry-titles {

    .entry-title { margin: 22px 0; }
    .entry-authors { font-weight: 100; display: inline-block; clear: both; }
    p { font-weight: 900; } 
  }
    





