/* 
 * Header
 * 
 * @package sasskit
 */


.site-header {
  @extend %l-4col;
  @extend %l-first;

  & > div {
    width: 100%;
  }  
}

.site-title {
  width: 20px;
  font-weight: 100;
  color: #000;
  @include fontsize(45);
  line-height: 4rem;
  margin: 22px 0 44px 0;

  a {
    color: inherit;
    text-decoration: none;
  }


}


